.edit-car-form {
  width: 330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  padding: 20px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.edit-button, .save-button, .delete-button {
  width: 30%;
}
